<div class="row form-group">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Wort
      </div>
      <%= form.fields_for :recipe_malts do |malt_form| %>
      <div class="form-group">
        <div class="entry input-group">
          <%= render 'recipe_malt_fields', form: malt_form %>
        </div>
      </div>
      <% end %>
      <%= link_to_add_fields "Add Malts", form, :recipe_malts %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Hops
      </div>
      <%= form.fields_for :hop_schedules do |hop_form| %>
        <div class="form-group">
          <div class="entry input-group">
            <%= render 'hop_schedule_fields', form: hop_form %>
          </div>
        </div>
      <% end %>
      <%= link_to_add_fields "Add Hops", form, :hop_schedules %>
    </div>
  </div>
</div>
