<form>
  <h2>Malts</h2>
  <button class="btn btn-primary" v-on:click.prevent="addMalt">Add Malt</button>
  <div class="form-row" v-for="(malt, index) in recipe.recipe_malts_attributes">
    <div class="input-group col-md-6">
      <%= form.select :malt_id, options_for_select(Malt.order(name: :asc).map {|b| [b.name, b.id]}), {}, {class: "form-control", "v-model": "malt.malt_id"} %>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.text_field :amount, class: "form-control", "v-model": "malt.amount", placeholder: "Amount" %>
      </div>
      <div class="form-group col-md-4">
        <%= form.select :unit, options_for_select(["lbs", "oz", "g"].map {|b| [b, b]}), {}, {class: "form-control", "v-model": "malt.unit"} %>
      </div>
      <div class="form-group input-group-prepend">
        <button class="btn btn-primary" type="button" v-on:click.prevent="saveMalt(index)" >Save Malt</button>
      </div>
    </div>
  </div>
</form>

<form>
  <h2>Hops</h2>
  <button class="btn btn-primary" v-on:click.prevent="addHop">Add Hop</button>
  <div class="form-row" v-for="(hop, index) in recipe.hop_schedules_attributes">
    <div class="input-group col-md-3">
      <%= form.select :hop_id, options_for_select(Hop.all.map {|b| [b.name, b.id]}), {}, {:class => "form-control", "v-model": "hop.hop_id"} %>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <%= form.text_field :amount, class: "form-control", "v-model": "hop.amount" %>
      </div>
      <div class="form-group col-md-2">
        <%= form.select :unit, options_for_select(["oz", "g"].map {|b| [b, b]}), {}, {class: "form-control", "v-model": "hop.unit"} %>
      </div>
      <div class="form-group input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <div class="form-group col-md-2">
        <%= form.text_field :at, class: "form-control", "v-model": "hop.at" %>
      </div>
      <div class="form-group input-group-prepend">
        <button class="btn btn-primary" type="button" v-on:click.prevent="saveHopSchedule(index)">Save Hop</button>
      </div>
    </div>
  </div>
</form>
