<div class="controls">
  <%= form_with(model: recipe, local: true, role: "form") do |form| %>
    <% if recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :recipe_name, class: "form-control", placeholder: "Name" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dropdown">
          <%= form.label :style %>
          <%= form.select :style_id, options_for_select(Style.all.map {|s| [s.name, s.id]}), {}, {:class => "form-control"} %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :brew_method %>
          <%= form.select :brew_method_id, options_for_select(BrewMethod.all.map {|b| [b.name, b.id]}), {}, {:class => "form-control"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :batch_size %>
          <%= form.text_field :batch_size, id: :batch_size, class: "form-control", placeholder: "5 gallons" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :original_gravity %>
          <%= form.text_field :original_gravity, id: :original_gravity, class: "form-control", placeholder: "1.055" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :final_gravity %>
          <%= form.text_field :final_gravity, id: :final_gravity, class: "form-control", placeholder: "1.010" %>
        </div>
      </div>
    </div>

    <% if recipe.persisted? %>
      <%= render 'edit_fields', recipe: recipe, form: form %>
    <% end %>

    <div class="actions">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
