<%= content_tag :div,
    id: "recipe-form",
    class: "controls",
    data: {
        id: recipe.id,
        recipe: recipe.to_json(except: [:id, :created_at, :updated_at]),
        recipe_errors: {},
        hop_schedules_attributes: recipe.hop_schedules.to_json(except: [:recipe_id, :created_at, :updated_at]),
        recipe_malts_attributes: recipe.recipe_malts.to_json(except: [:recipe_id, :created_at, :updated_at]),
    } do %>

    <%= form_with(model: recipe, local: true, role: "form") do |form| %>
      <!-- <% if recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
          <% recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %> -->

      <div class="alert alert-danger" role="alert" v-if="Object.keys(recipe_errors).length != 0">
        Please correct the errors below
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, id: :recipe_name, placeholder: "Name", "v-model": "recipe.name", "v-bind:class": "[recipe_errors.name ? 'is-invalid' : '', 'form-control']" %>
            <div v-for="error in recipe_errors.name">
              <div style="color:red">{{ error }}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dropdown">
            <%= form.label :style %>
            <%= form.select :style_id, options_for_select(Style.all.map {|s| [s.name, s.id]}), {}, {class: "form-control", "v-model": "recipe.style_id"} %>
            <div v-for="error in recipe_errors.style">
              <div style="color:red">{{ error }}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= form.label :brew_method %>
            <%= form.select :brew_method_id, options_for_select(BrewMethod.all.map {|b| [b.name, b.id]}), {}, {class: "form-control", "v-model": "recipe.brew_method_id"} %>
            <div v-for="error in recipe_errors.brew_method">
              <div style="color:red">{{ error }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <%= form.label :batch_size %>
            <%= form.text_field :batch_size, id: :batch_size, placeholder: "5", "v-model": "recipe.batch_size", "v-bind:class": "[recipe_errors.batch_size ? 'is-invalid' : '', 'form-control']" %>
            <div v-for="error in recipe_errors.batch_size">
              <div style="color:red">{{ error }}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <%= form.label :unit %>
            <%= form.select :unit, options_for_select(["gallons", "liters"].map {|b| [b, b]}), {}, {class: "form-control", "v-model": "recipe.unit"} %>
            <div v-for="error in recipe_errors.brew_method">
              <div style="color:red">{{ error }}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= form.label :original_gravity %>
            <%= form.text_field :original_gravity, id: :original_gravity, placeholder: "1.055", "v-model": "recipe.original_gravity", "v-bind:class": "[recipe_errors.original_gravity ? 'is-invalid' : '', 'form-control']" %>
            <div v-for="error in recipe_errors.original_gravity">
              <div style="color:red">{{ error }}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= form.label :final_gravity %>
            <%= form.text_field :final_gravity, id: :final_gravity, placeholder: "1.010", "v-model": "recipe.final_gravity", "v-bind:class": "[recipe_errors.final_gravity ? 'is-invalid' : '', 'form-control']" %>
            <div v-for="error in recipe_errors.final_gravity">
              <div style="color:red">{{ error }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <input type="submit" v-on:click.prevent="saveRecipe" name="commit" value="Save Recipe" class="btn btn-primary" data-disable-with="Save">
      </div>

      <% if recipe.persisted? %>
        <%= render 'edit_fields', recipe: recipe, form: form %>
      <% end %>
    <% end %>

<% end %>
